1. no gacha for furry images

2. no s**ual images like s**ual body parts and material

3. no cuss words

4. no hate material

5. no disallowed content like swas**ka symbol or p*rn

6. you must read rule 7 or the tutorial that is upcoming
